    .portaluz {
        margin: 0;
        padding: 0;
        background: url(../img/destiny_light.jpeg);
        background-size: 100%;
        background-attachment: fixed;
        color: #333;
    }

    .humano {
        margin: 0;
        padding: 0;
        background: url(../img/last_city.jpg);
        background-size: 100%;
        background-attachment: fixed;
        color: #333;
    }

    .elixsni {
        margin: 0;
        padding: 0;
        background: url(../img/fallens_elixsni.jpg);
        background-size: 100%;
        background-attachment: fixed;
        color: #333;
    }

    .cabal {
        margin: 0;
        padding: 0;
        background: url(../img/red_war_temple.jpg);
        background-size: 100%;
        background-attachment: fixed;
        color: #333;
    }

    .colmena {
        margin: 0;
        padding: 0;
        background: url(../img/hive.avif);
        background-size: 100%;
        background-attachment: fixed;
        color: #333;
    }

    .poseido {
        margin: 0;
        padding: 0;
        background: url(../img/the_takens.jpg);
        background-size: 100%;
        background-attachment: fixed;
        color: #333;
    }

    .vex {
        margin: 0;
        padding: 0;
        background: url(../img/infinite_forest.jpg);
        background-size: 100%;
        background-attachment: fixed;
        color: #333;
    }

    .desdenado {
        margin: 0;
        padding: 0;
        background: url(../img/forsaken_scorn.jpg);
        background-size: 100%;
        background-attachment: fixed;
        color: #333;
    }

    .oscuridad {
        margin: 0;
        padding: 0;
        background: url(../img/destiny_darkness.jpg);
        background-size: 100%;
        background-attachment: fixed;
        color: #333;
    }

    .libro {
        max-width: 800px;
        margin: 50px auto;
        background-color: rgba(255, 255, 255, 0.9);
        padding: 40px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0,0,0,0.3);
    }

    .perfil {
        text-align: center;
        margin-bottom: 20px;
    }

    .perfil img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 2px solid #666;
        object-fit: cover;
        opacity: 1;
    }

    .pagina {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
        transform: translateX(100%);
        transition: all 0.5s ease;
        text-align: justify;
    }

    .pagina.activa {
        opacity: 1;
        transform: translateX(0);
        position: relative;
    }

    .titulo{
        font-size: 30px;
        text-align: center;
    }

    .dialogo {
        font-style: oblique;
    }

    .subtitulo {
        font-style: oblique;
        font-weight: bold;
        text-align: center;
    }

    .botones-compartir {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boton-red {
        padding: 10px 20px;
        background-image: url(../img/whatsapp-share-button.svg);
        background-repeat: no-repeat;
        width: 4rem;
        height: 2rem;
        margin-top: 2rem;
    }
